{% extends "basic/layout.html" %}
{% block header %}
  {{ super() }}

  {% if pagename == 'index' %}
    <div class="yellowbar">Audrid Documentation</div>
  {% else %}
  <a style="text-decoration: none" href="{{ pathto('index') }}">
    <div class="yellowbar">Index</div>
  </a>
  {% endif %}
  
  {% if pagename == 'index' %}
  <div class=indexwrapper>
  {% endif %}
{% endblock %}
{% block footer %}
  {% if pagename == 'index' %}
  </div>
  {% endif %}
{% endblock %}
{# do not display relbars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}
<!--   {% if theme_github_fork %}
    <a href="http://github.com/{{ theme_github_fork }}"><img style="position: fixed; top: 0; right: 0; border: 0;"
    src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  {% endif %}
 -->{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
